@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css"; /* Para classes de utilidade como 'field' e 'w-full' */

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

.card {
  background: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
